html {
    position: relative;
    min-height: 100%;
}


body {

background-color: #f3e9d2;
}
a {

    /* color: #7a542e; */
    color: #e49273;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    /* font-size: 1.2em; */
}


.willpic {
max-height : 430px;
float: right;
border-radius: 10px;
margin: 0px 0 0 0;
padding: 10px;
/* align-self: right; */
}